.container {
  display: flex;
  height: 100vh;
}

.box {
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.coverimg {
  background-color: red;
}
