.container {
  display: flex;
  height: 100vh;
}

.box {
  background-color: blue;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coverimg {
  background-color: red;
  border: 1px solid black;
}
