.container {
  display: flex;
  height: 100vh;
}

.box {
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coverimg {
  background-color: red;
}

.header {
  padding: 30px;
}
.formdetails {
  padding: 30px;
}
